django
gunicorn
requests
python-jose[cryptography]
git+https://github.com/azure-samples/ms-identity-python-utilities@main
ecdsa
systemd
langchain==0.1.0
tar
pip==23.3
starlette==0.36.2
fastapi==0.109.1
black==24.3.0
gnutls28
util-linux
dnspython==2.6.1
pillow==10.3.0
idna==3.7
pymongo==4.6.3
langchain-core==0.1.35
cryptography==42.0.4
aiohttp==3.9.4
glibc
werkzeug==3.0.3
tqdm==4.66.3
jinja2==3.1.4
flask-cors==4.0.1
perl
jinja2==3.1.3